body{
    background-color:aliceblue;
   
}
.blank{
    width: 100px;
    height:800px;
     
}
h1 img{width: 850px;
    height: 700px;
    margin: 50px;
    
}
h1 b strong{
    color: red;
     font-size:40px;
}