*{
    padding: 15px;
    margin: 15px;
}
body{
    background-image: url(../pic/245543-P3OFVZ-738.jpg);
    background-repeat: no-repeat;
    background-size: 3000px 1500px;
}
.blank h6 a {
    margin-right: 25px;
}
.game{
    margin:60px;
    
}
.game img{
    width: 450px;
    height: 400px;
    margin: 50px;
}
h1{
    color: red;
     font-size:40px;
}
h2{
     font-size:30px;
}